<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>648771762773-9k37ae3eh2n1eik76t3n8idbq0240fi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648771762773-9k37ae3eh2n1eik76t3n8idbq0240fi2</string>
	<key>API_KEY</key>
	<string>AIzaSyAx452m2TPsezzPGr10FZkjBvR64ZtQj5s</string>
	<key>GCM_SENDER_ID</key>
	<string>648771762773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.itomorrow.MyCar</string>
	<key>PROJECT_ID</key>
	<string>my-car-eb231</string>
	<key>STORAGE_BUCKET</key>
	<string>my-car-eb231.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648771762773:ios:8826de07eb482573</string>
	<key>DATABASE_URL</key>
	<string>https://my-car-eb231.firebaseio.com</string>
</dict>
</plist>